body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  flex-direction: column;
}
article div {
  display: flex;
  justify-content: row;
  flex: 1; /* Que el div ocupe todo el espacio restante */

}

a{
  color: #b34e4e;
  text-decoration: none;
}
article img {
  max-width: 25%;
  height: auto;
  border-radius: 5px; 
  margin-right: 2rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #a50000;
  color: #fff;
  text-align: center;
  padding: 1em;
  width: 100%;
}

nav {
  background-color: #db6d6d;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  width: 105%;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 1em;
  border-radius: 5px;
  background-color: #b34e4e;
}
nav a:hover{
  color:#000000;
  background-color: #b92929; 
}
main {
  margin: 1em;
  padding: 1em;
}


footer {
  background-color: #a50000;
  color: #fff;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

#btnAccesibilidad {
  background-color: #b34e4e; 
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none; 
  border-radius: 50%;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#btnAccesibilidad:hover {
  background-color: #b92929; 
}

.busqueda {
  margin-top: 10px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}

button {
  padding: 5px;
  cursor: pointer;
}

.NewsLogo{
  width: 50px;
  height: auto;
}