<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periódico en Línea</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <header>
        <h1>La Noticia del día</h1>
        <p>Noticias de última hora</p>
        <div class="busqueda">
            <input type="text" id="inputBusqueda" placeholder="Buscar...">
            <button onclick="realizarBusqueda()">Buscar</button>
        </div>
    </header>

    <nav>
        <a href="index.html">Inicio</a>
        <a href="../views/politica.html">Política</a>
        <a href="../views/deportes.html">Deportes</a>
        <a href="../views/cultura.html">Cultura</a>
        <a href="../views/finanzas.html">Finanzas</a>
        <a href="../views/empresa.html">Empresas</a>
        <a href="../views/ultimasNoticias.html">Últimas Noticias</a>
        <button id="btnAccesibilidad">A+/-</button>
    </nav>

    <main>
        <section id="inicio">
            <h2>Noticias de último momento</h2>
            <a href="../views/ultimasNoticias.html">
                <article>
                <h3>(GALERÍA) Policías de Medellín se certifican en diversidad sexual y derechos humanos</h3>
                <div>
                    <img src="https://www.elespectador.com/resizer/OTgglw5bY5P33w9U8ouZePxmbeU=/287x191/filters:quality(80):format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/QUNKW5WGXREN7GYBCC4GEQI4T4.JPG" alt="Descripción de la imagen">
                    <p>En su mayoría, lo que se busca en un carro prémium y las ventajas del híbrido enchufable, de largo rango, maridan en la camioneta mediana de Volvo para Colombia. Reseña...</p>
                </div>
            </article>
            </a>
            <a href="../views/ultimasNoticias.html">
                <article>
                <h3>Sinner superó a Medvedev y espera por Djokovic o Alcaraz en el Torneo de Maestros</h3>
                <div>
                    <img src="https://www.elespectador.com/resizer/SjzbKjA8ps3egz2LFrd6UI9jeoU=/287x191/filters:quality(80):format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/YBN5H47CPIY4EJIFBDO4L4WEHU.jpg" alt="Descripción de la imagen">
                    <p>El italiano Jannik Sinner, intratable en el tercer set, doblegó este sábado al ruso Daniil Medvedev en las semifinales de las Finales ATP de Turín, con un partido que cerró en tres sets, por 6-3, 6-7 y 6-1, y selló su clasificación a...</p>
                </div>
            </article>
            </a>
            <a href="../views/ultimasNoticias.html">
                <article>
                <h3>Volvo XC60 T8 Ultimate: ¿el híbrido enchufable líder en propuesta en Colombia?</h3>
                <div>
                    <img src="https://www.elespectador.com/resizer/Gu-U4BxqysdwP83pM1pG_3Tic4w=/287x191/filters:quality(80):format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/PUHWDPDDVFEGNIYEPCCCGHQRIM.jpg" alt="Descripción de la imagen">
                    <p>En su mayoría, lo que se busca en un carro prémium y las ventajas del híbrido enchufable, de largo rango, maridan en la camioneta mediana de Volvo para Colombia. Reseña...</p>
                </div>
            </article>
            </a>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Nombre del Periódico. Todos los derechos reservados.</p>
    </footer>
    <script src="../index.js"></script>
</body>
</html>